<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <todo-list v-bind:todos ="todos">
            <template slot-scope="slotProps">
                <!-- 作用域插槽 -->
                <span v-if="slotProps.todo.isComplete">
                    text: {{slotProps.todo.text}}
                    isComplete: {{slotProps.todo.isComplete}}
                </span>
            </template>
        </todo-list>
    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    Vue.component(
        "todo-list", {
            props:["todos"],
            data(){return {}},
            template: `
           <ul>
           <li v-for="todo in todos" v-bind="todo.id"><slot v-bind:todo="todo">{{todo.text}}</slot></li>
       </ul>
           `
        }
)
    var vm = new Vue({
        el: "#app",
        data() {
            return {
                todos:[{
                    id:'1',
                    text:"appel",
                    isComplete:true
                },
                {
                    id:'2',
                    text:"banaba",
                    isComplete:false
                },
                {
                    id:'3',
                    text:"tomato",
                    isComplete:true
                },
                ]
            }
        },
        methods: {

        }
    })
</script>